:root {
  --main-font-color: rgba(38, 42, 63, 1);
  --acent-color: rgba(133, 187, 177, 1);
  --secondary-acent-color: #f1897b;
  --bg: #e5e5e5;
  --secondary-font-color: #757575;
  --primary-font: "Lato";
  --secondry-font: "Playfair Display";
}

body {
  background-color: var(--bg);
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

input,
textarea,
label {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

@keyframes menu_link {
  0% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 0.3;
  }
}
body {
  background: url("../images/hero-min.jpg") no-repeat;
  background-position: center 0;
  background-size: 100%;
}
body.noscroll {
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  body {
    background-position: center 0;
    background-size: 200% 30%;
  }
}

.container {
  max-width: 1440px;
  padding-left: 135px;
  padding-right: 135px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1100px) {
  .container {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header {
  z-index: 100;
  margin-top: 30px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px calc((100% - 1170px) / 2);
  left: 0;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
@media screen and (max-width: 1440px) {
  .header {
    padding: 24px 135px;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    padding: 24px 65px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    background: rgba(106, 105, 105, 0.8);
    margin-top: 0;
    display: flex;
    z-index: 50;
    transform: translateX(-100%);
    height: 100vh;
    flex-direction: column;
    padding: 50px 20px;
    justify-content: start;
    align-items: flex-start;
    gap: 50px;
  }
  .header.active {
    transform: translateX(0);
  }
}

.header_logo {
  position: relative;
  width: 107px;
  z-index: 5;
}
@media screen and (max-width: 800px) {
  .header_logo {
    width: 250px;
    margin-top: -10px;
  }
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}

.menu__item:hover, .menu__item:focus {
  transform: scale(1.14);
  transition: 250ms linear;
}
@media screen and (max-width: 800px) {
  .menu__item:hover, .menu__item:focus {
    transform: none;
  }
}

.menu__item__link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: var(--main-font-color);
  transition: 250ms linear;
}
.menu__item__link:hover::before, .menu__item__link:focus::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--secondary-acent-color);
  opacity: 0.3;
  width: 100%;
  height: 3px;
  bottom: -7px;
  animation: menu_link 250ms forwards;
}
@media screen and (max-width: 800px) {
  .menu__item__link:hover::before, .menu__item__link:focus::before {
    animation: none;
    height: 0;
  }
}
@media screen and (max-width: 800px) {
  .menu__item__link {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 40px;
  }
}

.title {
  margin: 0;
  font-family: var(--secondry-font);
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 35px;
    line-height: 42px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 25px;
    line-height: 32px;
  }
}
.title--acent {
  color: var(--acent-color);
  font-style: italic;
}

.description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  .description {
    font-size: 14px;
    line-height: 20px;
  }
}

.hero_content {
  padding-top: 150px;
  padding-bottom: 54px;
}
.hero_content .title {
  margin-bottom: 20px;
}
.hero_content .description {
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .hero {
    height: 100vh;
  }
}

.button {
  padding: 0;
  position: relative;
  border: 0;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--secondary-acent-color);
  transition: 250ms linear;
}
.button::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--secondary-acent-color);
  z-index: -1;
  opacity: 0.3;
  width: 100%;
  height: 13px;
  left: 10px;
  bottom: -4px;
}
.button:hover, .button:focus {
  color: rgb(229, 79, 58);
}
.button:hover::before, .button:focus::before {
  background: #e54f3a;
}

.about {
  position: relative;
  padding-top: 145px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1100px) {
  .about {
    overflow: hidden;
  }
}
@media screen and (max-width: 618px) {
  .about {
    background: url("../images/about-min.jpg") no-repeat;
    background-position: center 70%;
    background-size: 200%;
  }
}
@media screen and (max-width: 350px) {
  .about {
    background-position: center 0%;
    background-size: 350%;
  }
}

.about__image {
  position: absolute;
  z-index: -1;
  width: 570px;
  top: 100px;
  left: 135px;
}
@media screen and (max-width: 1100px) {
  .about__image {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 618px) {
  .about__image {
    display: none;
  }
}

.about__info {
  display: flex;
  width: 770px;
  margin-left: auto;
  padding: 48px 0 48px 0;
  background: #ffffff;
  opacity: 0.9;
}
@media screen and (max-width: 1100px) {
  .about__info {
    width: 600px;
    margin-right: auto;
  }
}
@media screen and (max-width: 800px) {
  .about__info {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
}

.statistics {
  width: 48%;
}
@media screen and (max-width: 800px) {
  .statistics {
    width: auto;
  }
}

.info {
  width: 52%;
  padding-right: 5px;
}
.info .button {
  margin-top: 50px;
}
@media screen and (max-width: 800px) {
  .info .button {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .info {
    margin-top: 15px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.statistics__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .statistics__list {
    gap: 20px;
  }
}

.statistics__list__item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 800px) {
  .statistics__list__item {
    gap: 5px;
  }
}
.statistics__list__item:not(:last-child):after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #85bbb1;
}
@media screen and (max-width: 800px) {
  .statistics__list__item:not(:last-child):after {
    bottom: -10px;
  }
}

.statistics__list__item__title {
  font-family: var(--secondry-font);
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
}
@media screen and (max-width: 800px) {
  .statistics__list__item__title {
    font-size: 48px;
    line-height: 62px;
  }
}

.statistics__list__item__title--accent {
  font-size: 40px;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
  color: #e4e4e4;
}
@media screen and (max-width: 800px) {
  .statistics__list__item__title--accent {
    font-size: 35px;
    line-height: 62px;
  }
}

.product {
  padding-top: 65px;
}

.products {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
@media screen and (max-width: 1100px) {
  .products {
    margin-left: -20px;
  }
}
@media screen and (max-width: 600px) {
  .products {
    margin-left: 0;
  }
}

.products__item__link {
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.products__item {
  border-top: 1px solid #e4e4e4;
  flex-basis: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 60px;
  padding: 50px 35px;
  transition: 250ms linear;
}
.products__item:hover, .products__item:focus {
  background: rgba(196, 195, 195, 0.1);
}
@media screen and (max-width: 1100px) {
  .products__item {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 30px 0px;
  }
}
@media screen and (max-width: 600px) {
  .products__item {
    flex-basis: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 30px 0px;
  }
}

.menu_mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu_mobile {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 65px;
    background: rgba(133, 187, 177, 0.5);
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .menu_mobile.active {
    background: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
.menu_mobile.active .burger__image {
  display: none;
}
.menu_mobile.active .burger__close {
  display: block;
}

@media screen and (max-width: 800px) {
  .burger {
    z-index: 100;
    width: 65px;
    border: none;
    background: transparent;
  }
}

.burger__image {
  display: block;
  width: 100%;
}

.burger__close {
  display: none;
  width: 100%;
}/*# sourceMappingURL=main.css.map */