:root {
  --main-font-color: rgba(38, 42, 63, 1);
  --acent-color: rgba(133, 187, 177, 1);
  --secondary-acent-color: #f1897b;
  --bg: #e5e5e5;
  --secondary-font-color: #757575;
  --primary-font: 'Lato';
  --secondry-font: 'Playfair Display';
}
